body {
    background-color: #0058ff;
    margin: 100px 0;
    font-family: "Tangerine", cursive; 
}

main {
    text-align: center;
}

img {
    height: 300px; 
    width: 300px;
    animation: pulse 1s infinite;
    transform-origin: center;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

p {
    font-size: 80px;
    color: #fff;
    margin: 0;
    font-weight: 700;
}
